body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.marker-cluster-small {
  background-color: rgba(216, 138, 49, 1);
  }
.marker-cluster-small div {
  background-color: rgba(216, 138, 49, 1);
  }
.marker-cluster-medium {
  background-color: rgba(216, 138, 49, 1);
  }
.marker-cluster-medium div {
  background-color: rgba(216, 138, 49, 1);
  }
.marker-cluster-large {
  background-color: rgba(216, 138, 49, 1);
  }
.marker-cluster-large div {
  background-color: rgba(216, 138, 49, 1);
  }