body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


#map {
    width: 100vw;
    float: left;
}

#searchArea {
    float: left;
}

#atmmap {
    height: 15vh;
}

#searchArea {
    font-size: 16px;
}

.markerClusterSmall {
  color: rgba(216, 138, 49, 1);
}
.markerClusterSmall div {
  color: rgba(216, 138, 49, 1);
}
.markerClusterMedium {
  color: rgba(216, 138, 49, 1);
}
.markerClusterMedium div {
  color: rgba(216, 138, 49, 1);
}
.markerClusterLarge {
  color: rgba(216, 138, 49, 1);
}
.markerClusterLarge div {
  color: rgba(216, 138, 49, 1);
}
