
/*Font quick refrence*/
@font-face {
    font-family: 'nexa_lightregular';
    src: url('/static/fonts/nexa_light-webfont.woff2') format('woff2'),
         url('/static/fonts/nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_blackregular';
    src: url('/static/fonts/fontfabric_-_nexablack-webfont.woff2') format('woff2'),
         url('/static/fonts/fontfabric_-_nexablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_heavyregular';
    src: url('/static/fonts/fontfabric_-_nexaheavy-webfont.woff2') format('woff2'),
         url('/static/fonts/fontfabric_-_nexaheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/static/fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Media Query */
@media only screen and (min-width: 1200px) {
  .navbar-nav {
    position: absolute;
    right: 0px;
  }
}

/* Full height image header 
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/450210.jpg");
  min-height: 100%;
}*/

body {
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h1 {
    font-size: 2.625em;
    line-height: 1.512em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h2 {
    font-size: 2.063em;
    line-height: 1.545em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h3 {
    font-size: 1.625em;
    line-height: 1.577em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h4 {
    font-size: 1.281em;
    line-height: 1.61em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h5 {
    font-size: 1em;
    line-height: 1.656em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h6 {
    font-size: .781em;
    line-height: 1.72em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

body, html {
    min-height: 100vh;
    font-family: 'nexa_boldregular', sans-serif
}
/*Color */
.ckOrange {
    background-color: #f3723a;
    color: #fff;
}
.ckBlue {
    color: #c5c6c7;
    background-color: #0a3f54;
}

.ckDarkGray {
    background-color: #595753;
    color: #c5c6c7;
}
.ckLightGray {
    color: #595753;
    background-color:#c5c6c7;
}

/*Spacific Styling*/
a {
 color: #f3723a;
}

a:hover {
 text-decoration: none;
 color: #f3723a;
}

nav a, nav a:hover {
    color: #fff;
    font-family: 'nexa_lightregular';
    font-size: 1.3em;
}
.absolute-wrapper{
    content:''; position: absolute;overflow: hidden;     
    top: 0; left: 0; bottom: 0;  right: 0;    
    border: none; padding: 0;  margin: 0;
 
} 
.jumbotron {
    position:relative;
    height: 75vh;
    width:100vw;
    padding: 200px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4em;
    font-family: 'nexa_blackregular';
   
}

/*Logo Overlay*/
.jumbotron div.l1  { 
            z-index:2 ;
            opacity:.2;
            background-repeat: no-repeat;
            background-position:105% 110%; 
            background-image:url(/static/images/bm-500.png);
}

footer {
    min-height: 25vh;
    padding: 1em 2em;
}

.button {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  color: #f3723a;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
  z-index: 99;
  position: relative;
}

.button:hover {
    background-color: rgba(255, 255, 255, .75);
    color: #f3723a;
}

.block-center {
    position: relative;
    margin: 0px auto;
    
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

span.light {
    font-family: 'nexa_lightregular';
}

span.trans {
    opacity: .5;
}

.nav-link {
    display: inline-block;
}
