
/*Font quick refrence*/
@font-face {
    font-family: 'nexa_lightregular';
    src: url('/static/fonts/nexa_light-webfont.woff2') format('woff2'),
         url('/static/fonts/nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_blackregular';
    src: url('/static/fonts/fontfabric_-_nexablack-webfont.woff2') format('woff2'),
         url('/static/fonts/fontfabric_-_nexablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_heavyregular';
    src: url('/static/fonts/fontfabric_-_nexaheavy-webfont.woff2') format('woff2'),
         url('/static/fonts/fontfabric_-_nexaheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/static/fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Full height image header 
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/450210.jpg");
  min-height: 100%;
}*/

/* Thick black border */
hr.new4 {
    border: 1px solid #595753;
  }

html {
  scroll-behavior: smooth;
}
  
body {
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h1 {
    font-size: 2.625em;
    line-height: 1.512em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h2 {
    font-size: 2.063em;
    line-height: 1.545em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h3 {
    font-size: 1.625em;
    line-height: 1.577em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h4 {
    font-size: 1.281em;
    line-height: 1.61em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h5 {
    font-size: 1em;
    line-height: 1.656em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

h6 {
    font-size: .781em;
    line-height: 1.72em;
    font-family: 'nexa_heavyregular', 'sans-serif';
}

body, html {
    min-height: 100vh;
    font-family: 'nexa_boldregular', sans-serif
}
/*Color */
.ckOrange {
    background-color: #f3723a;
    color: #fff;
}
.ckBlue {
    color: #c5c6c7;
    background-color: #0a3f54;
}

.ckDarkGray {
    background-color: #595753;
    color: #c5c6c7;
}
.ckLightGray {
    color: #595753;
    background-color:#c5c6c7;
}

/*Spacific Styling*/
a {
 color: #f3723a;
}

a:hover {
 text-decoration: none;
 color: #f3723a;
}

nav a, nav a:hover {
    color: #fff;
    font-family: 'nexa_lightregular';
    font-size: 1.3em;
}
.absolute-wrapper{
    content:''; position: absolute;overflow: hidden;     
    top: 0; left: 0; bottom: 0;  right: 0;    
    border: none; padding: 0;  margin: 0;
 
} 
.jumbotron {
    position:relative;
    height: 85vh;
    width:100vw;
    padding: 200px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'nexa_blackregular'; 
}

#survey {
    height: 70vh;
}

#cluster {
    height: 50vh;
}

#aboutteam {
    height: 40vh;   
}

#countryMap {
    height: 50vh;
}

#comparePage {
    height: 70vh;
}


/*Logo Overlay*/
div.l1  { 
        z-index:2 ;
        opacity:.2;
        background-repeat: no-repeat;
        background-position:105% 110%; 
        background-image:url(/static/images/bm-500.png);
}

#coin div.l1 {
    background-position: 1000px -200px; 
}

footer {
    min-height: 25vh;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer-nav li a {
    padding: .5em 0em;
    color: #c5c6c7;
}

.footer-nav ul li a:hover {
    color: #f3723a;
}

.button {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  color: #f3723a;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
  z-index: 99;
  position: relative;
}

.button:hover {
    background-color: rgba(255, 255, 255, .75);
    color: #f3723a;
}

.button-invert {
    background-color: #f3723a;
    color: #fff;
}

#timemachine table{
    font-size: 2em;

}

#timemachine select, #timemachine  input {
    border: solid 3px  #595753;
    border-radius: 16px;
    padding: .5em;
    max-width: 250px;
    font-size: 1.25em;
}

#timemachine label{
    font-size: 1.25em;

}

.inputs div {
    padding: 1em;
}

#searchArea {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 1em;
    display: inline-block;
    border-radius: 16px;
}

.block-center {
    position: relative;
    margin: 0px auto;
    
}

.navbar-nav img[src*='ico-'] {
    max-height: 20px;
    margin: -10px 4px  0px 4px;
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

span.light {
    font-family: 'nexa_lightregular';
}

span.trans {
    opacity: .5;
}

.nav-link {
    display: inline-block;
}

#reuslts-body img{
    max-height: 60px;
}

#reuslts-body td{
    position: center;
    
}

#coin {
    display: block;
    position:relative;
    height: 100%;
    width:100vw;
    padding: 200px 5% 5% 5%;
}

#coin div {
    border: 0px solid white;
    height: 100%;
}

.col1, .col2 {
    height: 100%;   
}

.col1 p {
    text-align: justify;
    
    font-family: 'nexa_lightregular';
}

.coin-lookup {
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
}

.coin-lookup #coin-filter{
    width: 50%;
    
}
.coin-lookup label {
    font-size: 2em;
    font-family: 'nexa_lightregular';   
}

.coin-lookup input {
    display: inline-block;
}

/*#595753*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(255,255,255,.25);
   color: white;
 }

 .table-striped {
    color: white;
    background-color: rgba(0,0,0,.15);
    font-size: 20px;
 }

 .coinsearch-results  a{
    color:#fff !important; 
 }

 #coinsearch{
    display: block;
    position:relative;
    height: 100%;
    width:100vw;
    padding: 200px 5% 2% 5%;
 }
.circ-logo-wrapper{ 
    text-align:center;
    position:relative;
    width:100%
}
.circ-logo-wrapper img{
    background-color:#fff;
    padding:2em; 
    border-radius:50%;
    display: block;
    position:relative;
    max-height:300px;
    margin:-70px auto 0px auto;
}

.circ-logo-wrapper img.pagebm {
    max-height: 100px;
    padding: 10px;
    margin:-20px auto 0px auto;
} 

.coinsearch-results img {
    background-color:#fff;
    padding:.25em; 
    border-radius:50%;
}

.index-img img {
    background-color:#fff;
    padding:1.5em; 
    border-radius:50%;
    position: relative;
    margin:-70px auto 0px auto;
    display: block;
}

.index-img div[class*='col']{
    position: relative;
    text-align: center;
    padding-bottom: 2em;
    
}

.index-img h2 {
    color: #f3723a;
}

.index-img p {
    color: #0a3f54;
    font-size: 1.1em;
    display: block;
    min-height: 100px;
}

#coin-detail{
    min-height:50vh;
    background-color:#fff; 
    font-family:'nexa_lightregular';
    text-align:center;
}

.coinhistory td {
    padding: 5px 5px;
    border-bottom: 2px solid #595753;
    opacity: 85%;

}

#coin-detail h3 {
    color: #595753;
}

.coinhistory {
    width: 100%;
    color: #595753;
}

#learn {
    color: #595753;
}
#learn .img-full{
    max-width:100%; 
}
#learn .company-logos img{
    max-width:75px;
    margin: 0px 1.5em 1em 0px;
}
#learn .faq button img{
    max-width:320px;
}
#learn  .faq p{
   text-align:left;
}
#learn div[class*='col-']{
    text-align:center;
}


 




#about {
    color: #595753;
}

.dropdown-item {
    font-size: 16px;
}

.history-data {
    padding-top: 1.5em;
}

#coin-detail label {
    font-weight: bold;
}

.market-detail {
    text-align: left;
}

/* Ticker Formatting */
.ticker-footer-wrapper {
        position: fixed;
        bottom: 0px;
        width: 100vw;
        z-index: 4;
        background-color: rgba(61, 55, 58, .6);
        padding: .75em 1em;
        color: #fff;
        z-index: 999;
    }

.ticker-footer-wrapper a {
    color: #fff;
    transition-duration: 1s;
}

.ticker-footer-wrapper .col-md-2 {
    transition-duration: .5s;
}

.ticker-footer-wrapper .col-md-2:hover {
    transition-duration: .5s;
    /* color: rgb(32, 30, 30); */
    background-color: rgba(243, 114, 58, .6);
}

.ticker-footer-wrapper img {
    max-width: 30px;
    display: inline-block;
    background-color:rgba(255, 255, 255, .8);
    padding:4px; 
    border-radius:50%;
}

.ticker-footer-wrapper span {
    display: inline-block;
    padding: .50em;
}

/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */ 
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 120s;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
} 
/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  min-width:250px;
}

@media only screen and (max-width: 600px) {
    .ticker-footer-wrapper {
        display:none; 
    }
}


#descripton {
    font-size: 18px;
}

#timemachine {
    color: #595753;
}

.form-select {
    color: #595753;
}

.predict-form input {
    display: inline-block;

}

.predict-form #CoinName {
    width: 60%;
}

.predict-form {
    padding-bottom: 1em;
    
}

#user-cluster {
    text-align: center;
}

.user-cluster-calc  {
    display: inline-block;
}

.user-cluster-calc label {
    font-size: 2em;
    font-family: 'nexa_lightregular';
    text-align: center;
}

#price-predict-results {
    text-align: center;
}

#price-predict-results label {
    font-size: 2em;
    font-family: 'nexa_lightregular';
}

#price-predict-results #CentroidChoice {
    width: 40%;
}

#centroid-table {
    width: 100%;
}

#price-predict-results input{
    display: inline-block;
}



/*Media Query */
@media only screen and (min-width: 1200px) {
  .navbar-nav {
    position: absolute;
    right: 0px;
  }
    .jumbotron {
    font-size: 4em; 
}
}

@media only screen and (max-width: 1200px) {
  .jumbotron {
    font-size: 3em; 
}
}

@media only screen and (max-width: 980px) {
  .jumbotron {
    font-size: 2em; 
}
}

@media only screen and (max-width: 650px) {
  .jumbotron {
    font-size: 1.5em; 
    padding: 200px 1em 1em ;
    
}
}
/* 
Crypto 101 format  */

dl.faq button {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
    border: thin solid transparent;
    background-color: transparent;
    padding-left: 0.125em;
  }
  
  dl dd {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
  }
  
  dl.faq .desc {
    margin: 0;
    padding: 1.5em;
    font-size: 110%;
    display: none;
    background-color: rgba(0,0,0,.05); 
  }
  
  dl.faq button:hover,
  dl.faq button:focus {
    background-color: #eee;
  }
  
  dl.faq button:focus {
    border-color: #630;
  }
  
  dl.faq button:hover {
    text-decoration: underline;
  }
  
  dl.faq button:active {
    background-color: #bbb;
  }
  
  dl.faq button[aria-expanded="false"]::before {
    content: url('../images/right-arrow-brown.png');
    padding-right: 0.35em;
  }
  
  dl.faq button[aria-expanded="true"]::before {
    content: url('../images/down-arrow-brown.png');
    padding-right: 0.35em;
  }



