<!DOCTYPE html>
<html>
<head>
<title>About</title>

{% include'head.html' %}
</head>
<body>

<!-- Navbar (sit on top) -->
{% include'nav.html' %}

<!-- Jumbotron -->
<div class="jumbotron ckOrange contianer-fluid" id="home">
  <div >
    <p> <span class='light'>crypt</span>keeper <br>
        <span class='light'> Sveena is The Best Human Person!</span>
    </p>
  
  </div> 
</div>

<div class="ckDarkGray contianer-fluid" id="home">
    <div class="container">
          <div class="row">
                  <div class="col-lg-6 ckLightGray">
                        <h3>Lorem ipsum dolo</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et rhoncus est. Donec quis felis a eros ultricies
                        sodales at id lacus. Suspendisse potenti. Sed quis lectus quis elit faucibus dignissim. Quisque sed nisl ac tellus
                        feugiat condimentum in sed arcu. Aenean eu orci vitae est blandit varius. Nunc ac urna vulputate neque dignissim aliquet
                        at ut lectus. Vestibulum eleifend, diam non ornare rhoncus, sem odio pretium arcu, sit amet molestie magna leo a lacus.
                        Donec ultrices purus eget ex dictum, sed tincidunt dui tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Donec pellentesque sollicitudin tellus, ac tempus nisi iaculis et. Curabitur id justo ac tellus convallis
                        venenatis at ac sem. Suspendisse ut enim euismod, ullamcorper enim ac, ornare purus. Quisque consectetur est nec
                        efficitur feugiat. Nulla facilisi. Nulla tellus nunc, pharetra eget elit in, vulputate rhoncus ligula.
                        </p>
                  </div>
                  <div class="col-lg-6 ckDarkGray">
                        <h3>Lorem ipsum dolo</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et rhoncus est. Donec quis felis a eros ultricies
                          sodales at id lacus. Suspendisse potenti. Sed quis lectus quis elit faucibus dignissim. Quisque sed nisl ac tellus
                          feugiat condimentum in sed arcu. Aenean eu orci vitae est blandit varius. Nunc ac urna vulputate neque dignissim
                          aliquet
                          at ut lectus. Vestibulum eleifend, diam non ornare rhoncus, sem odio pretium arcu, sit amet molestie magna leo a
                          lacus.
                          Donec ultrices purus eget ex dictum, sed tincidunt dui tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec pellentesque sollicitudin tellus, ac tempus nisi iaculis et. Curabitur id justo ac tellus convallis
                          venenatis at ac sem. Suspendisse ut enim euismod, ullamcorper enim ac, ornare purus. Quisque consectetur est nec
                          efficitur feugiat. Nulla facilisi. Nulla tellus nunc, pharetra eget elit in, vulputate rhoncus ligula.
                        </p>
                  </div>
          </div>
      </div>
</div>


<!-- Footer -->
{% include'footer.html' %}
 


</body>
</html>