<!DOCTYPE html>
<html>
<head>
<title>CryptKeeper: About</title>

{% include'head.html' %}
</head>
<body>

<!-- Navbar (sit on top) -->
{% include'nav.html' %}

<!-- Jumbotron -->
<div class="jumbotron ckOrange   contianer-fluid" id="home">

  <div >
    <p> <span class='light'>The Crypt</span>keepers <br>
        <span class='light'> Your go-to spot for all cryptocurrency needs!</span>
    </p> 
  </div> 
</div>

<div class="contianer-fluid" id="about">
    <div class="container">
          <div class="row">
                  <div class="col-lg-12">
                        <h3>Our Mission</h3>
                        <p>The Crypt-Keepers is the one stop place for all cryptocurrency needs, whether you are a newcomer or experienced, we got you covered! Our team is full of highly advanced data scientists
                          who provide the most updated data out there, just for you!</br>
                        </br>
                        Company features:</br>
                          <li>Use our search feature to decide where you want to invest next! </li></br>
                          <li>Feeling lost and need some guidance? Cryptocurrency 101 is the place for you! </li></br>
                          <li>Interested in becoming a crypt-keeper yourself? Take our survey and join the fun! </li></br>
                          <li>We break down the following common questions by age groups:</li></br>
                          <ol>
                            <li>Cryptocurrency Understanding</li>
                            <li>Who Invests in Cryptocurrency?</li>
                            <li>Who considers Cryptocurrency to be safe?</li>
                            <li>What are a few Cryptocurrency Concerns?</li>
                            <li>What is more risky: Cryptocurrency or Stocks?</li>
                            <ol>
                        </p>
                  </div>
                    <div class="container">
                          <div class="row">
                            <h3>Meet the Crypt Keepers</h3> 
                            <div class="col-lg-12 ">
                                        <h5>Desiree Herschberger</h5>
                                        <p>Database Administrator</p>
                                        <p><a href="https://github.com/citizendez/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p></br>
                                        </br>
                                        <hr class="new4">

                                        <h5>Redeat Bekele</h5>
                                        <p>Visuals and Project Management</p>
                                        <p><a href="https://github.com/redeat17/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
                                        <hr class="new4">

                                        <h5>William Pappas</h5>
                                        <p>Web Scraper</p>
                                        <p><a href="https://github.com/wjpappa5/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
                                        <hr class="new4">
                                        
                                        <h5>Thomas Keane</h5>
                                        <p>Machine Learning</p>
                                        <p><a href="https://github.com/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
                                        <hr class="new4">
                                        
                                        <h5>Henry Tran</h5>
                                        <p>Machine Learning</p>
                                        <p><a href="https://github.com/Henrytran13/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
                                        <hr class="new4">

                                        <h5>Taslemun Nahar</h5>
                                        <p>Survey Administrator and Research</p>
                                        <p><a href="https://github.com/tnahar/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
                                        <hr class="new4">

                                        <h5>Sveena Sharma</h5>
                                        <p>Web Developer</p>
                                        <p><a href="https://github.com/sveenasharma/"target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> Portfolio</button></a></p>
                                        </br>
<!-- Footer -->
{% include'footer.html' %}
</body>
</html>