<!DOCTYPE html>
<html>
<head>
<title>CryptKeeper: About</title>

{% include'head.html' %}
</head>
<body>

<!-- Navbar (sit on top) -->
{% include'nav.html' %}

<!-- Jumbotron -->
<div class="jumbotron ckOrange   contianer-fluid" id="home">

  <div >
    <p> <span class='light'>The Crypt</span>keepers <br>
        <span class='light'> Your go-to spot for all cryptocurrency needs!</span>
    </p> 
  </div> 
</div>
<div class="container">
  <div class="row">
          <div class="col-lg-12 ">
                <h3>Our Mission</h3>
                <p>The Crypt-Keepers is the one stop place for all cryptocurrency needs, whether you are a newcomer or experienced, we got you covered! Our team is full of highly advanced data scientists
                  who provide the most updated data out there, just for you!</br>
                </br>
                Company features:</br>
                  <li>Use our search feature to decide where you want to invest next! </li></br>
                  <li>Feeling lost and need some guidance? Cryptocurrency 101 is the place for you! </li></br>
                  <li>Interested in becoming a crypt-keeper yourself? Take our survey and join the fun! </li></br>
                  <li>We break down the following common questions by age groups:</li></br>
                  <ol>
                    <li>Cryptocurrency Understanding</li>
                    <li>Who Invests in Cryptocurrency?</li>
                    <li>Who considers Cryptocurrency to be safe?</li>
                    <li>What are a few Cryptocurrency Concerns?</li>
                    <li>What is more risky: Cryptocurrency or Stocks?</li>
                    <ol>
          </div>
  </div>
</div>

<!-- Footer -->
{% include'footer.html' %}



</body>
</html>