<!DOCTYPE html>
<html>

<head>
    <title>CryptKeeper: {{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</title>

    {% include'head.html' %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
</head>

<body> 
    <!-- Navbar (sit on top) -->
    {% include'nav.html' %} 
    <!-- Main Body -->
    <div class="ckOrange container-fluid" id="coin">
        <!-- Overlays -->  
           <div class='row'>
                <div class='col-lg-4 ckOrange col1'>
                    <div class='row'> 
                        <h1>{{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</h1> 
                    </div>
                        <div class='row'>
                        <h4>Price: ${{market_data[0].price}}</h4>

                        </div>
                    <div class='row'>   
                        <!-- <p>{{coin_view[0].About}}</p> -->
                        {% if 'name' in market_data[0] %}
                        <p>{{market_data[0].name}} ({{coin_view[0].TokenName}}) is an 
                        {% endif %}
                        {% if 'status' in market_data[0] %}
                        {{market_data[0].status}}  cryptocurrency
                        {% endif %}
                        {% if 'first_trade' in market_data[0] %}
                        whose first trade took place on {{market_data[0].first_trade}}.
                        {% endif %}
                        {% if 'price' in market_data[0] %}
                        The price today is ${{market_data[0].price}}
                        {% endif %}
                        {% if 'currency' in market_data[0] %}
                        In the last 24 Hours {{market_data[0].currency}}'s
                        {% endif %}
                        {% if 'circulating_supply' in market_data[0] %}
                        had a circulation supply of {{market_data[0].circulating_supply}}
                        {% endif %}
                        {% if '1d' in market_data[0] %}
                        and had a trade volume of ${{market_data[0]['1d'].volume}}.
                        {% endif %}
                        {% if 'num_exchanges' in market_data[0] %}
                        It is currently traded on {{market_data[0].num_exchanges}} exchanges.
                        {% endif %}
                        {% if 'rank' in market_data[0] %}
                        {{coin_view[0].CoinName}} is, as of today, ranked number {{market_data[0].rank}}.
                        {% endif %}
                        </p>

                        <div id='coin-barplot'></div>
                    </div>

                </div>
                <div class='col-lg-8 ckOrange col2' >  
                    <div id="plot"> </div>
                </div>
           </div> 
       
    </div>
    <div class="container-fluid" id="coin-detail">
        <div class=" circ-logo-wrapper">
            {% if coin_view[0].TokenLogo == ''%}
            <img src="/static/images/bm-o-125.png">
            {% else %}
            <img src="{{coin_view[0].TokenLogo}}">
            {% endif %}
        </div>
        <div class=" container market-detail" >
            <h3>Market Data</h3><br>
            <div class='row'>
                <div class='col-lg-3 '>
                    <!-- <h5>Today:</h5> -->
                    {% if 'status' in market_data[0] %}
                    <label>Status:</label> {{market_data[0].status}} 
                    <br><label>Rank:</label> {{market_data[0].rank}} 
                    <br><label>Number of Exchanges:</label> {{market_data[0].num_exchanges}} 
                    <br><label>First Trade:</label>  {{market_data[0].first_trade}} 
                    <br><label>Price:</label> ${{market_data[0].price}} 
                    <br><label>High:</label> ${{market_data[0].high}} 
                <br><label>Circulation Supply:</label> {{market_data[0].circulating_supply}} 
                    <br><label>Max Supply:</label> {{market_data[0].max_supply}} 
                    <br><label>Market Cap</label> ${{market_data[0].market_cap}} 
                    {% else %} Data Not Available From API
                    {% endif %}
                </div>
                <div class='col-lg-3 '>
                    <h5>24 Hours</h5>
                    {% if '1d' in market_data[0] %}
                    <label>Volume:</label> {{market_data[0]['1d'].volume}}
                    <br><label>Price Change:</label> ${{market_data[0]['1d'].price_change}}
                    <br><label>Price % Change:</label> {{market_data[0]['1d'].price_change_pct}} 
                    <br><label>Volume Change:</label> ${{market_data[0]['1d'].volume_change}}
                    <br><label>Volume % Change:</label> {{market_data[0]['1d'].volume_change_pct}}
                    <br><label>Market Cap Change:</label> ${{market_data[0]['1d'].market_cap_change}}
                    <br><label>Market Cap % Change:</label> {{market_data[0]['1d'].market_cap_change_pct}}
                    {% else %} Data Not Available From API
                    {% endif %}
                </div>
                <div class='col-lg-3 '>
                    <h5>7 Day</h5>
                    {% if '7d' in market_data[0] %}
                    <label>Volume:</label> {{market_data[0]['7d'].volume}}
                    <br><label>Price Change:</label> ${{market_data[0]['7d'].price_change}}
                    <br><label>Price % Change:</label> {{market_data[0]['7d'].price_change_pct}}
                    <br><label>Volume Change:</label> ${{market_data[0]['7d'].volume_change}}
                    <br><label>Volume % Change:</label>{{market_data[0]['7d'].volume_change_pct}}
                    <br><label>Market Cap Change:</label> ${{market_data[0]['7d'].market_cap_change}}
                    <br><label>Market Cap % Change:</label> {{market_data[0]['7d'].market_cap_change_pct}}
                    {% else %} Data Not Available From API
                    {% endif %}
                </div>
                <div class='col-lg-3 '>
                    <h5>30 Day</h5>
                    {% if '30d' in market_data[0] %}
                    <label>Volume:</label> ${{market_data[0]['30d'].volume}}
                <label>Price Change:</label> ${{market_data[0]['30d'].price_change}}
                    <label>Price % Change:</label> {{market_data[0]['30d'].price_change_pct}}
                    <label>Volume Change:</label> ${{market_data[0]['30d'].volume_change}}
                    <label>Volume % Change:</label> {{market_data[0]['30d'].volume_change_pct}}
                    <label>Market Cap Change:</label> ${{market_data[0]['30d'].market_cap_change}}
                    <label>Market Cap % Change:</label> {{market_data[0]['30d'].market_cap_change_pct}}
                    {% else %} Data Not Available
                    {% endif %}
                </div>
          
            </div>
            <div class='row'>
                <div class='col-lg-12 history-data'>
                    <!-- <h2>{{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</h2> -->
                    <!-- <p>{{coin_view[0].About}}</p> -->
                    <h3>Price History</h3><br>
                    <table id='results' class='coinhistory'> 
                        <thead id='results-head'>
                            <th>Date</th>
                            <!-- <th>Circulation Supply</th> -->
                            <th>Price</th>
                            <th>Low</th>
                            <th>High</th>
                            <th>Closing Price</th>
                            <th>Adjusted Close</th>
                            <th>Volume</th>
                        </thead>
                        <tbody id='reuslts-body'>
                            {% for record in coin_history %}
                            <tr>
                                <td>{{record.RecordDate}}</td>
                                <!-- <td>{{record.CirculationSupply}}</td> -->
                                <td>{{record.OpenPrice}}</td>
                                <td>{{record.High}}</td>
                                <td>{{record.Low}}</td>
                                <td>{{record.ClosingPrice}}</td>
                                <td>{{record.AdjClose}}</td>
                                <td>{{record.Volume}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div> 
        </div>
    </div> 
    <div  class="container-fluid"  id="vid" style=" height:100vh; ">
        rgba(254,114,58,.9)
        <div class="absolute-wrapper layer l2" style="background-color:rgba(10, 63, 84,.9);"> a </div>
    </div>
    <script type='text/javascript' src='/static/js/jquery.vide.min.js'></script>
    <script>
        $('#vid').vide({
            mp4: '/static/video/01.mp4',
            webm: '/static/video/01.webm',
            ogv: '/static/video/01.ogv',
            poster: '/static/video/intro.jpg'
        }, {
        });
    </script>
    <div class="container-fluid" id="coin-market-detail"> 
        <div class=" container ">
            <div class='row'>
                <div class='col-lg-12 '>
                
                </div>
            </div>
        </div>
    </div>

    <script>

        function init() {
            d3.json('/api/view/vwCoinHistory/TokenName/{{coin_view[0].TokenName}}').then((data) => {
                var pagedata = d3.select('#page-data');
                pagedata.attr('value', JSON.stringify(data));
                plotloader(data);
                // barplotloader();
            });
        };
        init();



    </script>
 
 

    <!-- Ticker -->
    {% include'ticker.html' %}
    <!-- Footer -->
    {% include'footer.html' %} 
</body>
<input type="hidden" id="page-data" name="page-data" value="">
<script src="{{ url_for('static', filename='js/coin.js') }}"></script>
</html>




    