<!DOCTYPE html>
<html>

<head>
    <title>CryptKeeper: Coin Search</title>

    {% include'head.html' %}
</head>

<body>

    <!-- Navbar (sit on top) -->
    {% include'nav.html' %}

    <!-- Jumbotron -->
    <div class="jumbotron ckOrange contianer-fluid" id="coinsearch">
        <div>
            <p> <span class='light'>crypt</span>keeper <br>
                <span class='light'> find your coin.</span>
            </p>

        </div>
    </div>

    <div class="ckOrange contianer-fluid" id="coinsearch-results">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <label>Lookup Coin</label>
                    <input class="form-control" id="coin-filter" name="coin-filter" type="text">
                    <br>
                    <table id='results' class='table table-striped coinsearch-results'>
                        <thead id='results-head'></thead>
                        <tbody id='reuslts-body'></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <!-- Footer -->
    {% include'footer.html' %}



</body>
<input type="hidden" id="page-data" name="page-data" value="">
<script src="{{ url_for('static', filename='js/coinsearch.js') }}"></script>

</html>