<!DOCTYPE html>
<html>

<head>
    <title>CryptKeeper: {{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</title>

    {% include'head.html' %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body> 
    <!-- Navbar (sit on top) -->
    {% include'nav.html' %} 
    <!-- Main Body -->
    <div class="ckOrange container-fluid" id="coin">
        <!-- Overlays -->  
           <div class='row'>
                <div class='col-lg-4 ckOrange col1'>
                    <div class='row'> 
                        <h1>{{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</h1> 
                    </div>
                    <div class='row'>   
                        <p>{{coin_view[0].About}}</p>
                    </div>
                </div>
                <div class='col-lg-8 ckOrange col2' id="plot" style="position:relative;z-index:99;">  
                </div>
           </div> 
       
    </div>
    <div class="container-fluid" id="coin-detail">
        <div class=" circ-logo-wrapper">
            {% if coin_view[0].TokenLogo == ''%}
            <img src="/static/images/bm-o-125.png">
            {% else %}
            <img src="{{coin_view[0].TokenLogo}}">
            {% endif %}
        </div>
        <div class=" container " >
            <div class='row'>
                <div class='col-lg-12 '>
                    <!-- <h2>{{coin_view[0].CoinName}} ({{coin_view[0].TokenName}})</h2> -->
                    <!-- <p>{{coin_view[0].About}}</p> -->
                    <h3>Price History</h3><br>
                    <table id='results' class='coinhistory'> 
                        <thead id='results-head'>
                            <th>Date</th>
                            <!-- <th>Circulation Supply</th> -->
                            <th>Price</th>
                            <th>Low</th>
                            <th>High</th>
                            <th>Closing Price</th>
                            <th>Adjusted Close</th>
                            <th>Volume</th>
                        </thead>
                        <tbody id='reuslts-body'>
                            {% for record in coin_history %}
                            <tr>
                                <td>{{record.RecordDate}}</td>
                                <!-- <td>{{record.CirculationSupply}}</td> -->
                                <td>{{record.OpenPrice}}</td>
                                <td>{{record.High}}</td>
                                <td>{{record.Low}}</td>
                                <td>{{record.ClosingPrice}}</td>
                                <td>{{record.AdjClose}}</td>
                                <td>{{record.Volume}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div> 
        </div>
    </div> 
 
    <div class="container-fluid" id="coin-market-detail"> 
        <div class=" container ">
            <div class='row'>
                <div class='col-lg-12 '>
                
                </div>
            </div>
        </div>
    </div>

    <script>

        function init() {
            d3.json('/api/view/vwCoinHistory/TokenName/{{coin_view[0].TokenName}}').then((data) => {
                var pagedata = d3.select('#page-data');
                pagedata.attr('value', JSON.stringify(data));
                plotloader(data);
            });
        };
        init();



    </script>
    <!-- Footer -->
    {% include'footer.html' %} 
</body>
<input type="hidden" id="page-data" name="page-data" value="">
<script src="{{ url_for('static', filename='js/coin.js') }}"></script>
</html>


<!-- {{coin_history}} -->

    