


<footer class="ckBlue contianer-fluid">
    <div class='container'>
        <div class="row">
           
        <div class="col-lg-6">
            <p>The Crypt-Keepers GWU Data Analytics Bootcamp 2021</p>
            <p>Website Template Source: Kicking ass and taking names</p>
        </div>
        <div class="col-lg-6 footer-nav">
            <h4>other links</h4>
            <ul> 
                <li class=""> <a class="" href="/about"><i class="fa fa-info-circle"></i> About CK</a> </li>
                <!-- <li class=""> <a class="" href="/surveyview"><i class="fa fa-check-square-o"></i> Survey Data</a> </li>
                <li><a class="" href="/map"><i class="fa fa-check-square-o"></i>ATM Map</a></li>
                <li><a class="" href="/countries-map"><i class="fa fa-check-square-o"></i>Legal Countries Map</a></li>
                <li><a class="" href="/compare-price-dash"><i class="fa fa-check-square-o"></i>Comparison Data</a></li> -->
            
            </ul>
        </div>
    </div>
    </div>
   
    <script>
        $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar");
                    $nav.toggleClass('ckOrange', $(this).scrollTop() > $nav.height());
                });
            });
    </script>
</footer>