<footer class="ckBlue contianer-fluid">
    <div class='container'>
        <div class="col-lg-6">
            <p>The Crypt-Keepers GWU Data Analytics Bootcamp 2021</p>
        </div>
        <div class="col-lg-6"></div>
            <p>Website Template Source: Kicking ass and taking names</p>
        </div>
    </div>
   
    <script>
        $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar");
                    $nav.toggleClass('ckOrange', $(this).scrollTop() > $nav.height());
                });
            });
    </script>
</footer>