<!DOCTYPE html>
<html>

<head>
  

  {% include'head.html' %}
</head>

<body>

  <!-- Navbar (sit on top) -->
  {% include'nav.html' %}

        <script type='text/javascript' src='/static/js/jquery.vide.min.js'></script>
  <!-- Jumbotron: specific to each page -->
  <div class="jumbotron ckOrange contianer-fluid" id="home" >
        <!-- Overlays -->
        <div class="absolute-wrapper layer l1 "></div>
        <div class="absolute-wrapper layer l2"></div>
        

    <!-- Formatted Text: use span to create formatting effects -->
    <div>
      <p> <span class='light'>crypt</span>keeper <br>
        we take the cry <br>
        out of <span class='trans'>cry</span>ptocurrency
      </p>
      <a class="button" href="/#home">Get Started!</a><br>
      
    </div>
  </div>

  <div class="contianer-fluid" id="home">
    <div class=" circ-logo-wrapper"><img src="static/images/bm-o-125.png" class='pagebm'></div>
    <div class="container">
          <div class="row">
                  <div class="col-lg-6">
                    <h3><a href="/learn">Cryptocurrency 101</a></h3>
                        <p><a href="/learn">
                          <img src="/static/images/confused.jpg" alt="learn link" style="width:500px;height:300px;">
                        </a>
                      </br>Feeling confused and not sure where to start? We answer the most common asked questions! Great place for beginners or for those who need a refresher! </br>
                        </p>
                      </div>

                  <div class="col-lg-6">
                    <h3><a href="/coinsearch">Find a Coin</a></h3>
                        <p><a href="/coinsearch">
                          <img src="/static/images/coins.jpg" alt="search link" style="width:500px;height:300px;">
                        </a>
                      </br>Search for a coin and review its most current specifics!</br>
                        </p>
                      </div>

                  <div class="col-lg-6">
                    <h3><a href="/map">Find a Crypto ATM near You</a></h3>
                        <p><a href="/map">
                          <img src="/static/images/atm.jpg" alt="map link" style="width:500px;height:300px;">
                        </a>
                      </br>Use this interactive map to find the nearest crypto ATM location to you!</br>
                        </p>
                      </div>

                  <div class="col-lg-6">
                    <h3><a href="/surveyview">Review our Survey Data</a></h3>
                      <p><a href="/surveyview">
                        <img src="/static/images/data.jpg" alt="survey link" style="width:500px;height:300px;">
                         </a>
                      </br>If you're curious about Cryptocurrency understanding based on age groups, review our survey data analysis and visualizations!</br>
                      We also encourage you to add your two cents and submit your cryptocurrency concerns to the Crypt-Keepers team! 
                       </p>
                    </div>

                    <div class="col-lg-6">
                      <h3><a href="/about">Who are the Crypt-Keepers?</a></h3>
                        <p><a href="/about">
                          <img src="/static/images/team.jpg" alt="team link" style="width:500px;height:300px;">
                           </a>
                        </br>Company's mission and features. Meet the Crypt-Keepers themselves!  
                         </p>
                      </div>

                      <div class="col-lg-6">
                        <center><h3>   </center></h3>
                        <p>
                            <center><img src="/static/images/bm-o-125.png" style="width:200px;height:200px;"></center>
                           </p>
                        </div>
                    </div>
                  </div>
                </div>
    <!-- Ticker -->
  {% include'ticker.html' %}
  <!-- Footer -->
  {% include'footer.html' %}

</body>
<!-- Video Layer - Not currently working -->
        <script>
  $(document).ready(function () {
           $('.jumbotron').vide({
              mp4: '/static/video/01.mp4',
              webm: '/static/video/01.webm',
              poster: '/static/video/01.png'
            }, {
              volume: 1,
              playbackRate: 1,
              muted: true,
              loop: true,
              autoplay: true,
              position: '50% 50%', // Similar to the CSS `background-position` property.
              posterType: 'detect', // Poster image type. "detect" — auto-detection; "none" — no poster; "jpg", "png", "gif",... - extensions.
              resizing: true, // Auto-resizing, read: https://github.com/VodkaBears/Vide#resizing
              bgColor: 'transparent', // Allow custom background-color for Vide div,
              className: '' // Add custom CSS class to Vide div
            });
  });


        </script>
</html>