<!DOCTYPE html>
<html>

<head>
  

  {% include'head.html' %}
</head>

<body>

  <!-- Navbar (sit on top) -->
  {% include'nav.html' %}

        <script type='text/javascript' src='/static/js/jquery.vide.min.js'></script>
  <!-- Jumbotron: specific to each page -->
  <div class="jumbotron ckOrange contianer-fluid" id="jumbo" >
        <!-- Overlays -->
        <div class="absolute-wrapper layer l1 "></div>
        <div class="absolute-wrapper layer l2"></div>
        

    <!-- Formatted Text: use span to create formatting effects -->
    <div>
      <p> <span class='light'>crypt</span>keeper <br>
        we take the cry <br>
        out of <span class='trans'>cry</span>ptocurrency
      </p>
      <a class="button" href="#home">Get Started!</a><br>
      
    </div>
  </div>

  <div class="contianer-fluid index-img" id="home">
    <!-- <div class=" circ-logo-wrapper"><img src="static/images/bm-o-125.png" class='pagebm'></div> -->
    <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img src="/static/images/icons/learn.png" >
              <h2>LEARN</h2>
              <p>  How Does it work
                <br>How to Buy Crypto
                <br>Legal Concerns
                <br>Where to Buy
                <br>and more...

              </p>
              <a class="button button-invert" href="/learn">LEARN</a><br>
            </div>
            <div class="col-lg-4">
              <img src="/static/images/icons/discover.png" >
              <h2>DISCOVER</h2>
              <p>Dive into Cryptocurrency
              <br><a href="/surveyview"> User Data</a> 
              <br><a href="/map"> Find ATM</a> 
              <br><a href="/countries-map"> Where is Crypto Legal?</a> 
              <br><a href="/compare-price-dash"> Let's Compare </a> </p>
              <a class="button button-invert" href="/coinsearch">Discover</a><br>
            </div>
            <div class="col-lg-4">
              <img src="/static/images/icons/predict.png">
              <h2>PREDICT</h2>
              <p> Predict how a Coin may perform 
              <br><a href="/price-predict"> Coin Prediction</a>
              <br>Predict who is best to <br>market crypto to
              <br><a href="/cluster-users"> User Clusters</a></p>
              <a class="button button-invert" href="/price-predict">PREDICT</a><br>

            </div>
     
          </div>
      </div>
  </div>
    <!-- Ticker -->
  {% include'ticker.html' %}
  <!-- Footer -->
  {% include'footer.html' %}

</body>

</html>