<!DOCTYPE html>
<html>
<head>
<title>CryptKeeper: Learn</title>
<meta charset="UTF-8">
{% include'head.html' %}
</head>
<body>
<!-- Navbar (sit on top) -->
{% include'nav.html' %}
<!-- Jumbotron -->
<div class="jumbotron ckOrange contianer-fluid" id="learnPage">
  <div>
    <p> <span class='light'>Let's Learn About Cryptocurrency</span></p>
    <!-- <h5>Feeling lost and not sure where to begin?</br>  -->
      <!-- <span class='light'>Don't worry! We are here to support you</span></h5> -->
  </div> 
</div>
<div class="contianer-fluid" id="learn">
    <div class=" circ-logo-wrapper"><img src="static/images/icons/learn.png" class='pagebm'></div>
    <div class="container">
          <div class="row">
                  <div class="col-lg-12">
                    <center><img src="/static/images/what.jpg" alt="Cryptocurrency" style="width:700px;height:600px;"></center>
                    <br></br>
                      <dd>
                        <stretch><p id="faq1_desc" class="desc">
                          Cryptocurrency is a new form of digital money! According to CoinMarketCap.com, there are more than 6,700 cryptocurrencies available! Although cryptocurrency is not 
                          widely accepted as a regular form of payment, it is commonly used as an alternative to stocks and bonds.
                          Many companies have issued their own utility tokens, which is simply another form of currency, that may traded for the good or service provided by
                          the company itself. However, in order to access this good or service, one will need to exchange real currency for these tokens, which are recorded in a blockchain.</br>
                        </p></stretch>
                      </dd>
                      <dt>
                      </div>
                    </div>
                  </div>
​                <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <dl class="faq">
                      <dt>
                        <button aria-expanded="false" aria-controls="faq2_desc">
                          What is a Blockchain?
                          <br></br>
                          <br></br>
                          <img src="/static/images/what is bc.jpg" alt="Cryptocurrency" style="width:400px;height:200px;">
                        </button>
                      </dt>
                      <dd>
                        <p id="faq2_desc" class="desc">
                          A blockchain is basically an open and secure ledger that holds real-time transactions. This serves the function as a typical bank or credit card company so that
                          anyone may review and verify transactions. The primary purpose of this technology is to enable secure payments without a third party service. Additionally, in certain instances, it does not
                          require sensitive information, which makes the user more protected and secure during any domestic or international exchanges. More information may also be found at <a href="https://www.coinbase.com/learn/crypto-basics/what-is-a-blockchain">Coinbase</a>.</br>
                        </br>
                          To learn more about blockchains and how it adds security, check out this video below:</br>
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/yubzJw0uiE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                      </dd>
                      <dt>
                     </div>
                     <div class="col-lg-6">
                      <dl class="faq">
                         <dt>
                          <button aria-expanded="false" aria-controls="faq10_desc">
                            How does a Blockchain Validate Bitcoin Transactions?
                            <img src="/static/images/tranasction.png" style="width:500px;height:350px;">
                          </button>
                          </dt>
                         <dd>
                          <p id="faq10_desc" class="desc">
                            Bitcoin (BTC) was created to function as peer-to-peer electronic cash. Whether you are spending or accepting BTC as payment it is prudent to understand how a transaction works. Bitcoin transactions are essentially messages, similar to email, which are digitally signed using cryptography and sent to the entire Bitcoin Network for verification. Transactions are public and can be found on the digital ledger known as the blockchain. Source: Bitcoin  
                          </p>
                        </dd>
                         <dt>
                       </div>
                  <div class="col-lg-6">
                  <dl class="faq">
                     <dt>
                      <button aria-expanded="false" aria-controls="faq4_desc">
                        How does one Buy or Trade Cryptocurrency?
                        <img src="/static/images/types.jpeg" style="width:400px;height:200px;">
                      </button>
                      </dt>
                     <dd>
                      <p id="faq4_desc" class="desc">
                       1) It is important to first check your country's regulations to be aware of any restrictions in place</br>
                       2) Next, obtain a "wallet" to hold your currency! There are three types of wallets you may choose: Online, Software, and Hardware. Many users obtain an online wallet through a cryptocurrency exchange, which is a website that allows you to exchange real currency for cryptocurrency</br>
                       3) Research and choose a cryptocurrency exchange; keep the following factors in mind: </br>
                       - Transaction Fees</br>
                       - Payment methods</br>
                       - Cryptocurrency Options</br>
                       - User Reviews</br>
                      </p>
                    </dd>
                     <dt>
                   </div>
                   <div class="col-lg-6">
                    <dl class="faq">
                       <dt>
                        <button aria-expanded="false" aria-controls="faq5_desc">
                          What is Bitcoin?
                          <img src="/static/images/bitcoin.jpeg" style="width:400px;height:200px;">
                        </button>
                        </dt>
                       <dd>
                        <p id="faq5_desc" class="desc">
                          Bitcoin is one of the most popular and well-known cryptocurrencies. It is not managed by a bank or other third-party service and all transactions 
                          are recorded in the blockchain network, therefore, eliminating the risk of double-spending bitcoins.
                        </br>
                          According to the <a href="https://bitcoin.org/en/you-need-to-know">Bitcoin</a> website: </br>
                          - The price of bitcoin is unpredictable and a high-risk asset</br>
                          - Bitcoin transactions cannot be reversed and should be considered carefully</br>
                          - Although user identity is private, transactions are not anonymous as they are stored publicly</br>
                          - Bitcoin is applicable to income, sales, payroll, and capital gains taxes; it is important to verify regulations with your</br> local and federal government.
                       </p>
                      </dd>
                       <dt>
                     </div>
                       <div class="col-lg-6">
                        <dl class="faq">
                           <dt>
                            <button aria-expanded="false" aria-controls="faq7_desc">
                              Are there any Legal Concerns?
                              <img src="/static/images/legal.jpeg" style="width:400px;height:200px;">
                            </button>
                            </dt>
                           <dd>
                            <p id="faq7_desc" class="desc">
                              As with any type of investment, it is crucial to be aware of legal implications. For example, for US residents, the IRS 
                              has defined cryptocurrencies as property which means that it is subjected to the capital gains tax. Foreign exchanges may also add another layer 
                              of precedence to tax matters as well as the overall reporting of profits and losses. Additionally, since cryptocurrencies are independent from central banks or governments, there is a separate process when it comes to fraud. It is highly likely that if a 
                              cryptocurrency exchange is hacked, there is no standard practice to recover the missing funds as one would with a typical case. The crypt-keepers always recommend to do thorough research and discuss these items with your tax professionals to stay ahead of the curve.   
                            </p>
                          </dd>
                           <dt>
                         </div>
                         <div class="col-lg-6">
                          <dl class="faq">
                             <dt>
                              <button aria-expanded="false" aria-controls="faq9_desc">
                                Few Companies that accept Cryptocurrency
                                <img src="/static/images/bitcoin-cash.png" style="width:400px;height:200px;">
                              </button>
                              </dt>
                             <dd>
                              <p id="faq9_desc" class="desc">                               
                                <img src="/static/images/ms.jpeg" alt="Microsoft" style="width:500px;height:300px;">
                                Microsoft accepts Bitcoin strictly for the Xbox store credits.
                               <br>
                              </br>                                
                                <img src="/static/images/Overstock_logo.png" alt="Overstock" style="width:500px;height:200px;">
                                Overstock accepts not just Bitcoins but also multiple kinds of cryptocurrency. They are holding it too! 
                                <br>
                              </br>                              
                                <img src="/static/images/homedepot.png" alt="Home Depot" style="width:500px;height:500px;">
                                Home Depot accepts Bitcoin payments and it’s acceptance makes a big impact because essentially you can build your entire house by using bitcoins to purchase the materials.                                
                                <br>
                              </br>
                                <img src="/static/images/twitch.png" alt="Twitch" style="width:500px;height:500px;">
                                Twitch allows the option to pay for its services with Bitcoin and Bitcoin Cash in June 2020, and with the company offering subscribers a 10% discount if they pay using cryptocurrencies. Twitch works with US-based BitPay to process its crypto payments.
                                <br>
                              </br>  
                                <img src="/static/images/bk.png" alt="BurgerKing Venezuela" style="width:500px;height:500px;">
                                Restaurant Brands International is the parent company of Burger King and Tim Hortons. In 2020, Burger King Venezuela announced that it has begun accepting various cryptocurrencies including Bitcoin. This is in collaboration with startup Cryptobuyer, which oversees conversion of cryptocurrencies to normal currency. Burger King Germany had also allowed the use of Bitcoin for purchases for a limited period in September 2019. 
                                <br>
                              </br>
                                <img src="/static/images/Coca-Cola-Logo.png" alt="Coca-Cola" style="width:500px;height:500px;">
                                Coca-Cola distributor Coca Cola Amatil, responsible for bottling and distributing the soft drink to the Asia-Pacific region, announced a partnership with digital assets platform Centrapay to allow Bitcoin as a payment option. The company has about 2,000 vending machines that accept cryptocurrency.                               
                                <br>
                              </br>                                
                                <img src="/static/images/wholefood.jpeg" alt="Whole Foods" style="width:500px;height:300px;">
                                Whole foods is partnered with Winklevoss Flexa spending app ‘Spedn’. Using the app, you can buy all your whole food groceries using Bitcoin and Litecoin. 
                                <br>
                              </br>
                                Source: Yahoo                                  
                              </p>
                            </dd>
                             <dt>
                           </div>                          
                           <div class="col-lg-6">
                            <dl class="faq">
                              <dt>
                                <button aria-expanded="false" aria-controls="faq3_desc">
                                  How can Cryptocurrency be useful?
                                  <img src="/static/images/savings.jpeg" style="width:400px;height:200px;">
                                </button>
                              </dt>
                              <dd>
                                <p id="faq3_desc" class="desc">
                                  There are many reasons why cryptocurrency is growing in popularity!</br>
                                  1) Central banks are not involved, unlike the US Dollar or the Euro; hence, there is a higher chance for the value to remain stable</br>
                                  2) There is a higher level of security through the use of blockchain compared to traditional payment methods</br>
                                  3) Low cost money transfers - there are little to no fees</br>
                                  4) Higher chance of profit</br>
                                  5) Simple investment process</br>
                                  6) Easier foreign transactions - reduces the risk of carrying cash during travels and eliminates exchange/transaction fees</br>
                                 </p>
                              </dd>
                              <dt>
                             </div>                         
                       <div class="col-lg-6">
                        <dl class="faq">
                           <dt>
                            <button aria-expanded="false" aria-controls="faq8_desc">
                              Additional Resources
                              <img src="/static/images/links.jpeg" style="width:400px;height:200px;">
                            </button>
                            </dt>
                           <dd>
                            <p id="faq8_desc" class="desc">
                              <a href="https://www.nerdwallet.com/article/investing/cryptocurrency-7-things-to-know">NerdWallet</a></br>
                              <a href="https://www.forbes.com/advisor/investing/what-is-cryptocurrency/">Forbes</a></br>
                              <a href="https://www.investopedia.com/tech/what-are-legal-risks-cryptocurrency-investors/">Investopia</a></br>
                              <a href="https://wealthfit.com/articles/cryptocurrency-basics/">WealthFit</a></br>
                              <a href="https://www.bitdegree.org/crypto/tutorials/how-to-buy-cryptocurrency">BitDegree</a></br>
                              <a href="https://www.coinbase.com/learn">CoinBase</a></br>
                              <a href="https://bitcoin.org/en/">Bitcoin</a></br>
                              <a href="https://www.lopp.net/bitcoin-information/getting-started.html">Getting Started with Bitcoin</a></br> 
                            </p>
                          </dd>
                           <dt>
                         </div>
                         <br></br>
                         <br></br>
                         <div class="col-lg-12">
                          <dl class="faq">
                             <dt>                             
                              <center>What is the Difference between Bitcoin and Fiat Money?</center>                              
                              </dt>
                             <dd>
                              <p 
                                <a href="https://www.bitpanda.com/academy/en/lessons/whats-the-difference-between-a-cryptocurrency-like-bitcoin-and-fiat-money/"target="_blank"><img src="/static/images/bitcoin.JPG" alt="bitcoin" style="width:900"></a>                              
                                <br></br>
                                <center>Image source: BitPanda (click image)</center></p>
                            </dd>
                             <dt>
                           </div>
                        </div>
          </div>
      </div>
</div>
<!-- Ticker -->
{% include'ticker.html' %}
<!-- Footer -->
{% include'footer.html' %}
</body>
</html>