<!DOCTYPE html>
<html>
<head>
<title>Crypt Keeper: Learn</title>

{% include'head.html' %}
</head>
<body>

<!-- Navbar (sit on top) -->
{% include'nav.html' %}

<!-- Jumbotron -->
<div class="jumbotron ckOrange contianer-fluid" id="home">
  <div >
    <p> <span class='light'>Cryptocurrency for Dummies</span></p>
    <h5>Feeling lost and not sure where to begin?</br> 
      <span class='light'>Don't worry! We are here to support you</span></h5>
  </div> 
</div>

<div class="contianer-fluid" id="learn">
    <div class=" circ-logo-wrapper"><img src="static/images/bm-o-125.png" class='pagebm'></div>
    <div class="container">
          <div class="row">
                  <div class="col-lg-12 ">
                    <dl class="faq">
                      <dt>
                        <button aria-expanded="false" aria-controls="faq1_desc">
                        What is Cryptocurrency?
                        </button>
                      </dt>
                      <dd>
                        <p id="faq1_desc" class="desc">
                          Cryptocurrency is a new form of digital money! According to CoinMarketCap.com, there are more than 6,700 cryptocurrencies available! Although cryptocurrency is not 
                          widely accepted as a regular form of payment, it is commonly used as an alternative to stocks and bonds.
                          Many companies have issued their own utility tokens, which is simply another form of currency, that may traded for the good or service provided by
                          the company itself. However, in order to access this good or service, one will need to exchange real currency for these tokens, which are recorded in a blockchain.</br>
                        </p>
                      </dd>
                      <dt>
                      </div>
                    </div>
                  </div>

                <div class="container">
                <div class="row">
                  <div class="col-lg-12 ">
                    <dl class="faq">
                      <dt>
                        <button aria-expanded="false" aria-controls="faq2_desc">
                          What is a Blockchain?
                        </button>
                      </dt>
                      <dd>
                        <p id="faq2_desc" class="desc">
                          A blockchain is basically an open and secure ledger that holds real-time transactions. This serves the function as a typical bank or credit card company so that
                          anyone may review and verify transactions. The primary purpose of this technology is to enable secure payments without a third party service. Additionally, in certain instances, it does not
                          require sensitive information, which makes the user more protected and secure during any domestic or international exchanges. More information may also be found at <a href="https://www.coinbase.com/learn/crypto-basics/what-is-a-blockchain">Coinbase</a>.</br>
                          To learn more about blockchains and how it adds security, check out this video below:</br>
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/yubzJw0uiE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                      </dd>
                      <dt>
                     </div>

                  <div class="col-lg-12 ">
                  <dl class="faq">
                    <dt>
                      <button aria-expanded="false" aria-controls="faq3_desc">
                        How can Cryptocurrency be useful?
                      </button>
                    </dt>
                    <dd>
                      <p id="faq3_desc" class="desc">
                        There are many reasons why cryptocurrency is growing in popularity!</br>
                        1) Central banks are not involved, unlike the US Dollar or the Euro; hence, there is a higher chance for the value to remain stable</br>
                        2) There is a higher level of security through the use of blockchain compared to traditional payment methods</br>
                        3) Low cost money transfers - there are little to no fees</br>
                        4) Higher chance of profit</br>
                        5) Simple investment process</br>
                        6) Easier foreign transactions - reduces the risk of carrying cash during travels and eliminates exchange/transaction fees</br>
                       </p>
                    </dd>
                    <dt>
                   </div>

                  <div class="col-lg-12 ">
                  <dl class="faq">
                     <dt>
                      <button aria-expanded="false" aria-controls="faq4_desc">
                        How does one Buy or Trade Cryptocurrency?
                      </button>
                      </dt>
                     <dd>
                      <p id="faq4_desc" class="desc">
                        1) It is important to first check your country's regulations to be aware of any restrictions in place</br>
                       2) Next, obtain a "wallet" to hold your currency! There are three types of wallets you may choose: Online, Software, and Hardware. Many users obtain an online wallet through a cryptocurrency exchange, which is a website that allows you to exchange real currency for cryptocurrency</br>
                       3) Research and choose a cryptocurrency exchange; keep the following factors in mind: </br>
                       <li>Transaction Fees</li></br>
                       <li>Payment methods</li></br>
                       <li>Cryptocurrency Options</li></br>
                       <li>User Reviews</li></br>
                      </p>
                    </dd>
                     <dt>
                   </div>


                      <hr class="new4">
                      <h3>What is Bitcoin?</h3>
                      <p> Bitcoin is one of the most popular and well-known cryptocurrencies. It is not managed by a bank or other third-party service and all transactions 
                        are recorded in the blockchain network, therefore, eliminating the risk of double-spending bitcoins.
                      </br>
                        According to the <a href="https://bitcoin.org/en/you-need-to-know">Bitcoin</a> website: </br>
                        <li>The price of bitcoin is unpredictable and a high-risk asset</li></br>
                        <li>Bitcoin transactions cannot be reversed and should be considered carefully</li></br>
                        <li>Although user identity is private, transactions are not anonymous as they are stored publicly</li></br>
                        <li>Bitcoin is applicable to income, sales, payroll, and capital gains taxes; it is important to verify regulations with your local and federal government. </li></br>
                     </p>




                     <hr class="new4">
                      <h3>What is the Difference between Bitcoin and Fiat Money?</h3>
                      <a href="https://www.bitpanda.com/academy/en/lessons/whats-the-difference-between-a-cryptocurrency-like-bitcoin-and-fiat-money/"target="_blank"><img src="/static/images/bitcoin.JPG" alt="bitcoin" style="width:900"></a>
                      <p>Image source: BitPanda (click image)</p>
                      <hr class="new4">
                      <h3>Legal Concerns</h3>
                        <p> As with any type of investment, it is crucial to be aware of legal implications. For example, for US residents, the IRS 
                          has defined cryptocurrencies as property which means that it is subjected to the capital gains tax. Foreign exchanges may also add another layer 
                          of precedence to tax matters as well as the overall reporting of profits and losses. Additionally, since cryptocurrencies are independent from central banks or governments, there is a separate process when it comes to fraud. It is highly likely that if a 
                          cryptocurrency exchange is hacked, there is no standard practice to recover the missing funds as one would with a typical case. The crypt-keepers always recommend to do thorough research and discuss these items with your tax professionals to stay ahead of the curve.   
                        </p>



                        <hr class="new4">
                        <h3>Additional Resources</h3>
                        <p> Here are our sources and additional resources to learn more!
                          <li><a href="https://www.nerdwallet.com/article/investing/cryptocurrency-7-things-to-know">NerdWallet</a></li></br>
                          <li><a href="https://www.forbes.com/advisor/investing/what-is-cryptocurrency/">Forbes</a></li></br>
                          <li><a href="https://www.investopedia.com/tech/what-are-legal-risks-cryptocurrency-investors/">Investopia</a></li></br>
                          <li><a href="https://wealthfit.com/articles/cryptocurrency-basics/">WealthFit</a></li></br>
                          <li><a href="https://www.bitdegree.org/crypto/tutorials/how-to-buy-cryptocurrency">BitDegree</a></li></br>
                          <li><a href="https://www.coinbase.com/learn">CoinBase</a></li></br>
                          <li><a href="https://bitcoin.org/en/">Bitcoin</a></li></br>
                          <li><a href="https://www.lopp.net/bitcoin-information/getting-started.html">Getting Started with Bitcoin</a></li></br>

                        </div>
          </div>
      </div>
</div>

<!-- Ticker -->
{% include'ticker.html' %}
<!-- Footer -->
{% include'footer.html' %}
 


</body>
</html>