<nav class="navbar navbar-expand-lg ckOrange fixed-top">
    <a class="navbar-brand" href="/"><img src="static/images/bm-100.png" alt=""></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#subscribe">Subscribe</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#streaming">Costs</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#plotly">Recommendations</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#subscriber-map-section">Subscriber Map</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#theatre">Theatres in DC</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#team">Meet the Team</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/#review">Reviews</a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Services
                </a>

            </li>
        </ul>
    </div>
</nav>