<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/"><img src="/static/images/bm-100.png" alt=""></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/learn"><img src="/static/images/navicos/ico-l.png"/>LEARN</a> </li>
            <!-- <li class="nav-item"> <a class="nav-link" href="/coinsearch"><i class="fa fa-th"></i> Find Coin</a> </li> -->
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="/static/images/navicos/ico-d.png"/>
                    DISCOVER
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/coinsearch">Find Coin</a>
                        <a class="dropdown-item" href="/map">ATM Map</a>
                        <a class="dropdown-item" href="/surveyview">User Data</a>
                        <a class="dropdown-item" href="/countries-map">Where Legal?</a>
                        <a class="dropdown-item" href="/compare-price-dash">Lets Compare</a>
                    </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/price-predict"><img src="/static/images/navicos/ico-p.png" /> PREDICT</a> </li>
            
        </ul>
    </div>
</nav>