<!DOCTYPE html>
<html>

<head>
    <title>Crypt Keeper: Survey Data</title> 
    {% include'head.html' %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
 
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="style/style.css"> -->
 
</head> 
<body> 
    <!-- Navbar (sit on top) -->
    {% include'nav.html' %}

    <!-- Jumbotron -->
    <div class="jumbotron ckOrange contianer-fluid" id="survey">
        <div>
            <p> <span class='light'>crypt</span>keeper<br>
                discover <span class='light'>more about our user data</span> 
            </p> 
            <a class="button" href="#user-data">DATA</a><br>
        </div>
    </div> 
        <div class=" contianer-fluid">
            <div class=" circ-logo-wrapper"><img src="static/images/icons/discover.png" class='pagebm'></div>
            <div class="container" >
                
                <h1 class="text-center display-4"><span class='light'>be a crypt</span>keeper</h1>
                <h1 class="text-center display-4"><span class='light'>add your two cents</span></h1>

                <form class="row g-3" method="POST" action="/surveyview">
                    <div class="col-md-6">
                      <label for="FirstName" class="form-label">First Name</label>
                      <input type="FirstName" class="form-control" id="FirstName">
                    </div>
                    <div class="col-md-6">
                      <label for="LastName" class="form-label">Last Name</label>
                      <input type="LastName" class="form-control" id="LastName">
                    </div>
                    <div class="col-12">
                      <label for="LevelUnderstanding" class="form-label">Level of Understanding</label>
                      <select id="LevelUnderstanding" class="form-select">
                        <option selected>Choose...</option>
                        <option>Not Understood</option>
                        <option>Somewhat Understood</option>
                        <option>Well Understood</option>
                        <option>Unknown</option>
                      </select>
                    </div>
                    <div class="col-md-12" id='user-data'>
                        <label for="RiskTolerance" class="form-label">What is your risk tolerance?</label>
                        <select id="RiskTolerance" class="form-select">
                          <option selected>Choose...</option>
                          <option>Low</option>
                          <option>High</option>
                          <option>Testing the waters</option>
                        </select>
                      </div>
                    <div class="col-md-12">
                        <label for="HaveInvested" class="form-label">Have You Invested?</label>
                        <select id="Gender" class="form-select">
                          <option selected>Choose...</option>
                          <option>Yes</option>
                          <option>No</option>
                          <option>Not Sure</option>
                        </select>
                      </div>
                    <div class="col-md-4">
                      <label for="Age" class="form-label">Age</label>
                      <input type="text" class="form-control" id="Age">
                    </div>
                    <div class="col-md-4">
                      <label for="Gender" class="form-label">Gender</label>
                      <select id="Gender" class="form-select">
                        <option selected>Choose...</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>I do not wish to answer</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="ZipCode" class="form-label">Zip Code</label>
                      <input type="text" class="form-control" id="ZipCode">
                    </div>
                    <div class="col-12">
                        <label for="Concern" class="form-label">Concerns?</label>
                        <select id="Concern" class="form-select">
                            <option selected>Choose...</option>
                            <option>Fraud</option>
                            <option>Lack of Regulation</option>
                            <option>I do not Know Enough About cryptocurrency</option>
                            <option>Volitility</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="Concern" placeholder="Let us know how we can help you"> -->
                      </div>
                   
                    <div class="col-12">
                      <button type="submit" class="button button-invert">Submit</button>
                    </div>
                  </form>
                

            </div>
         
        </div>
    <div class=" contianer-fluid" >
        <div class="container" id="vwSurveyUnderstanding"></div> 
        <div class="container" id="vwSurveyHaveInvested"></div>
        <div class="container" id="vwSurveyCryptoSafe"></div>
        <div class="container" id="vwSurveyCryptoConcern"></div>
        <div class="container" id="vwSurveyMoreRiskCryptoStock"></div>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">    
<script>
    
    plotloader("vwSurveyUnderstanding", "Understanding", "Crypto Understanding By Age");
    plotloader("vwSurveyHaveInvested", "HaveInvested", "Who Invests?");
    plotloader("vwSurveyCryptoSafe", "CryptoSafe", "Who Considers Crypto Safe?");
    plotloader("vwSurveyCryptoConcern", "CryptoConcern", "What are Crypto Concerns?");
    plotloader("vwSurveyMoreRiskCryptoStock", "MoreRiskCryptoStock", "What is more risky Crypo vs. Stock?");
    function plotloader(view, colkey, ptitle) {

        d3.json(`/api/view/${view}`).then((data) => {
            let cnt = 0; 
            let CUR_AGE = '';

            var TRACE_AGE_18_29 = { y: [], x: []
                , type: 'bar'
                , marker: { color: 'rgb(242,113,58)'  }
                , name: 'AGE RANGE 18 - 29'
            };
            var TRACE_AGE_30_44 = { y: [], x: [], type: 'bar'
                , marker: { color: 'rgb(10,60,80)' }
                , name: 'AGE RANGE 30 - 44' 
            };
            var TRACE_AGE_45 = { y: [], x: [], type: 'bar'
                , marker: { color: 'rgb(90,90,90)' } 
                , name: 'AGE RANGE 45+' 
            };


            dlist = [];
            data.forEach(d => {
                Object.entries(d).forEach(([key, value]) => {
                   
                    if (d.AGE != CUR_AGE) {
                        CUR_AGE = d.AGE; 
                    }
                    if (CUR_AGE == 'AGE_18_29') {
                        if (key == 'CNT') {
                            TRACE_AGE_18_29.y.push(value)
                        } else if (key == colkey) {
                            TRACE_AGE_18_29.x.push(value)
                        }
                    } else if (CUR_AGE == 'AGE_30_45') {
                        if (key == 'CNT') {
                            TRACE_AGE_30_44.y.push(value)
                        } else if (key == colkey) {
                            TRACE_AGE_30_44.x.push(value)
                        }
                    } else {
                        if (key == 'CNT') {
                            TRACE_AGE_45.y.push(value)
                        } else if (key == colkey) {
                            TRACE_AGE_45.x.push(value)
                        }
                    }
                    cnt++;
                });
            });
            var dt = [TRACE_AGE_18_29, TRACE_AGE_30_44, TRACE_AGE_45];
            //console.log(TRACE_AGE_18_29);
            var layout = {
                title: ptitle,
                font: { family: 'nexa_heavyregular, sans-serif'  },
                showlegend: true,
                xaxis: { tickangle: -15 },
                yaxis: { zeroline: false,  gridwidth: 2  },
                bargap: 2.15
            };
            Plotly.newPlot(`${view}`, dt, layout);
        }); 
    } 
   
</script> 
    <!-- Footer -->
    {% include'ticker.html' %}
    <!-- Footer -->
    {% include'footer.html' %} 
</body>

</html>