<div class='ticker-footer-wrapper'>
    <div class="row ">
        <div class='col-lg-2 col1'>
            <a class="button button-invert" href="/coinsearch">Coin Search</a><br>
        </div>
        <div class='col-lg-10 col2 tickers'>

        </div>
    </div>
</div>
 
<script>
    function get_ticker() {
        d3.json('/api/ticker').then((data) => {
            let HTML = '<div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">';
            data.forEach(element => {
                //console.log(element)
                let currency = element.currency;
                let image = element.logo_url;
                let price = element.price;
                
                HTML += `<div class='ticker-item '>`
                    HTML += `<a href= '/coin/${element.CoinID}'>`
                        HTML += `<img src='${image}'/>`
                        HTML += `<span>${currency}</span>`
                        HTML += `$<span class='format-tickPrice'>${price}</span>`
                    HTML += `</a>`
                HTML += `</div>`
 
                //$('.tickers').append(`<div class='col-md-3'><h6>${element.currency}<h6></div>`)
            });
            HTML += `</div></div></div>`
            $('.tickers').append(`${HTML}`)
            // plotloader(data);
            // barplotloader();
            $('.format-tickPrice').each(function (i, ele) {
                // console.log(ele)
                $(ele).removeClass('format-tickPrice');
                let number = $(ele).html();
                if (number != '') {
                    let formatNumber = formatNumbers(number);
                    console.log(formatNumber)
                    $(ele).html(formatNumber);
                };

            });
        
        });
    }
 
    get_ticker()
</script>