<div class='ticker-footer-wrapper'>
    <div class="row tickers">

    </div>
</div>

  
<script>
    function get_ticker() {
        d3.json('/api/ticker').then((data) => {
            let HTML = '';
            data.forEach(element => {
                //console.log(element)
                let currency = element.currency;
                let image = element.logo_url;
                let price = formatelement.price;
                // console.log(image);
                HTML += `<div class='col-md-2'>`
                    HTML += `<a href= '/coin/${element.CoinID}'>`
                        HTML += `<img src='${image}'/>`
                        HTML += `<span>${currency}</span>`
                        HTML += `<span>${price}</span>`
                    HTML += `</a>`
                HTML += `</div>`




                //$('.tickers').append(`<div class='col-md-3'><h6>${element.currency}<h6></div>`)
            });
            $('.tickers').append(`${HTML}`)
            // plotloader(data);
            // barplotloader();
        });
    }



    get_ticker()
</script>